// Watson
$brand-01: #9855D4;
$brand-02: #734098;
$brand-03: #018570;
$inverse-01: #ffffff;
$ui-01: #fff; 
$ui-02: #F8F8F8;
$ui-03: #ECECEC;
$ui-04: #DFDFDF;
$ui-05: #5A5A5A;
$text-01: #323232;
$text-02: #777677;
$text-03: #5A5A5A; 
$field-01: #ECECEC;
$support-01: #E71D32; 
$support-02: #5AA700;
$support-03: #EFC100;
$support-04: #5AAAFA;
