//// Dark UI
// Color Variables
$brand-01: #5aaafa;
$brand-02: #7cc7ff;
$brand-03: #41d6c3;
$inverse-01: #152935;
$ui-01: #2d3f49;
$ui-02: #20343e;
$ui-03: #152935;
$ui-04: #20343e;
$ui-05: #8c9ba5;
$text-01: #ffffff;
$text-02: #dfe6eb;
$text-03: #8c9ba5;
$field-01: rgba(255, 255, 255, .1);
$support-01: #ff5050;
$support-02: #8cd211;
$support-03: #efc100;
$support-04: #7cc7ff;
