///// Experimental
// Color Variables
$brand-01: #0062ff;
$brand-02: #054ada;
$brand-03: #0062ff;
$ui-01: #f3f3f3;
$ui-02: #ffffff;
$ui-03: #dcdcdc;
$ui-04: #8c8c8c;
$ui-05: #171717;
$text-01: #171717;
$text-02: #565656;
$text-03: #a4a4a4;
$inverse-01: #ffffff;
$field-01: #f3f3f3;
$support-01: #da1e28;
$support-02: #24a249;
$support-03: #fdd13a;
$support-04: #418cff;

// Global
$use-layer: true;
$input-border: 1px solid transparent;
$input-label-weight: 700;

// Button Theme Variables
$button-font-weight: 700;
$button-font-size: .875rem;
$button-border-radius: 0;
$button-height: 40px;
$button-padding: 0 1rem;
$button-padding-sm: 0 .5rem;
$button-border-width: 2px;

// Accordion (Reverse)
$accordion-flex-direction: row;
$accordion-justify-content: flex-start;
$accordion-arrow-margin: 0 0 0 .25rem;
$accordion-title-margin: 0 0 0 1rem;
$accordion-content-padding: 0 1rem 0 1.75rem;

// Card
$card-text-align: center;
$card-flex-align: center;

// Checkbox
$checkbox-border-width: 2px;

// Code Snippet
$snippet-background-color: $field-01;

// Content Switcher
$content-switcher-border-radius: 8px;
$content-switcher-option-border: 1px solid $brand-01;

// Data Table
$data-table-heading-transform: uppercase;
$data-table-heading-border-bottom: 1px solid $brand-01;
$data-table-row-height: 2rem;

// Modal
$modal-border-top: $brand-01 4px solid;
$modal-footer-background-color: $ui-03;

// Progress Indicator
$progress-indicator-bar-width: 1px inset transparent;
$progress-indicator-stroke-width: 5;
$progress-indicator-line-offset: .625rem;

// Radio Button
$radio-border-width: 2px;

// Structured List
$structured-list-padding: 2rem;
$structured-list-text-transform: uppercase;
