///// Genesis
// Color Variables
$brand-01: #3d70b2;
$brand-02: #5596e6;
$brand-03: #41d6c3;
$inverse-01: #ffffff;
$ui-01: #ffffff;
$ui-02: #ffffff;
$ui-03: #f0f3f6;
$ui-04: #dfe3e6;
$ui-05: #8c9ba5;
$text-01: #152934;
$text-02: #5a6872;
$text-03: #5a6872;
$field-01: #eef6fe;
$support-01: #e71d32;
$support-02: #5aa700;
$support-03: #efc100;
$support-04: #5aaafa;
