// Watson
$brand-01: #047cc0;
$brand-02: #175d8d;
$brand-03: #95c4f3;
$inverse-01: #ffffff;
$ui-01: #f6f6f6;
$ui-02: #ffffff;
$ui-03: #eaeaea;
$ui-04: #eaeaea;
$ui-05: #777677;
$text-01: #272727;
$text-02: #595859;
$text-03: #777677;
$field-01: #eaeaea;
$support-01: #e62325;
$support-02: #34bc6e;
$support-03: #fed500;
$support-04: #5c1f1b;
$nav-01: #1b2834;
$nav-02: #1c496d;
